<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <menuitem
        id="menu_currency_dashboard"
        name="Currency Dashboard"
        parent="account.menu_finance_configuration"
        action="action_currency_dashboard"
        sequence="190"/>

    <menuitem
        id="menu_currency_rate_history"
        name="Currency Rate History"
        parent="account.menu_finance_configuration"
        action="action_currency_rate_history"
        sequence="200"/>

    <menuitem
        id="menu_currency_rate_logs"
        name="Currency Update Logs"
        parent="account.menu_finance_configuration"
        action="action_currency_rate_log"
        sequence="210"/>

</odoo>
